{
  "plugins": [
    "transform-util-promisify",
    "transform-object-rest-spread"
    ],
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }]
    ]
}
